/*To Do
-remove css from bootstrap and pull it inot this file
*/
.bookmarklet.outer {
    position: absolute;
    z-index: 1000;
    background-color: #EBEBEB;
    width: 100%;
    box-shadow: 5px 3px 30px 4px;
}

.bookmarklet.header {
    z-index: 10001;
    top: 0;
    left: 0;
    background: white;
    margin-bottom: 10px;
    display: block;
  }

  h2.bookmarklet.title {
    color: #00709B;
    font-size: 30px;

    font-family: inherit;
    font-weight: 500;
    line-height: 1.0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}
a.bookmarklet.toggle {
    line-height: 1;
    vertical-align: middle;
    border-style: solid;
    border-width: 2px;
    padding: 2px;
    border-radius: 5px;
    margin-left: 30px;
}
a.bookmarklet.toggle:hover {
    background-color: gray;
    text-decoration: none;
    cursor: pointer;
    /*opacity: .5;*/
}

a.bookmarklet.close.button {
  float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: orange;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .8;
    background-color: white;
    border-color: white;
    box-shadow: none;
    /* box-sizing: initial; */
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 1px;

}
a.bookmarklet.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}
.bookmarklet.inner {
  background-color: #EBEBEB;
  position: absolute;
  width: 100%;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
      /*text-align: center;*/
}
.bookmarklet.label {
  float: left;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0em;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    white-space: nowrap;
}
.bookmarklet.class.badge {
  margin-right: 4px;
margin-left: 4px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: inherit;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: rgba(119,123,121, .7);
    border-radius: 10px;
}
.bookmarklet.label-primary {
    background-color: #0086B7;
}
.bookmarklet.label-primary.dark {
    background-color: #007AA7;
}
.bookmarklet.label-warning {
    background-color: #A25600;
}
.bookmarklet.label-warning.dark {
    background-color: #854800;
}
